[user]
	email = emeraldinspirations+asusrog+1610@gmail.com
	name = Matthew \"Juniper\" Barlett
	signingkey = emeraldinspirations++asusrog+1610@gmail.com
[color]
	ui = auto
	status = always
	log = always
[core]
	editor = atom --wait
  pager = cat
[credential]
	helper = cache --timeout=3600
